html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

@import "styles/_variables.scss";
@import "styles/_progress-animation.scss";

.sailor-day {
  background-color: $white;
  @import "styles/light-theme/_mixins.scss";
  @import "styles/light-theme/_header-nav.scss";
  @import "styles/light-theme/_search-section.scss";
  @import "styles/light-theme/_suggested-section.scss";
  @import "styles/light-theme/_template-section.scss";
  @import "styles/light-theme/_crear-guifos.scss";
}

.sailor-night {
  background-color: $black;
  @import "styles/dark-theme/_mixins.scss";
  @import "styles/dark-theme/_header-nav.scss";
  @import "styles/dark-theme/_search-section.scss";
  @import "styles/dark-theme/_suggested-section.scss";
  @import "styles/dark-theme/_template-section.scss";
  @import "styles/dark-theme/_crear-guifos.scss";
}
