html {
  font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

@import "styles/_variables.scss";
@import "styles/_mixins.scss";
@import "styles/template-section/_mixins_template-section.scss";
@import "styles/template-section/_template-section.scss";
@import "styles/_nav-search.scss";
@import "styles/mis-guifos/_mis-guifos-section.scss";
@import "styles/results-section/_results-section.scss";
