header {
  background-image: $day-gradient;
  box-shadow: 0 0.07rem;
  h1 {
    color: $white;
    font-family: $font;
    font-size: 0.86rem;
    font-weight: $regular;
    padding: 0.21rem 0 0.29rem 0.5rem;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    padding: 2.5rem 7rem;
    object-fit: scale-down;
  }
  div {
    display: flex;
    padding: 3.14rem 10.04rem 2.5rem;
    button {
      @include button;
      padding: 0.64rem 1.89rem;
      margin: 0.57rem;
      font-family: $font;
      font-size: 1.14rem;
      color: $black;
      text-align: center;
      line-height: 1.19rem;
      position: relative;
    }
    .crear-button {
      margin-right: 1.14rem;
      &:active {
        background: $day-pink-pushed-button;
      }
    }
    button:hover:before {
      @include dotted-border;
    }
    button:focus:before {
      @include dotted-border;
    }
    .tema-button-container {
      position: relative;
      margin: 0;
      padding: 0;
      .dropdown-button {
        @include button;
        position: relative;
        margin: 0.57rem 0;
        padding: 0.93rem 1.07rem;
        &:active {
          background: $day-pink-pushed-button;
        }
        .dropdown-icon {
          margin: 0;
          padding: 0;
          height: auto;
        }
      }
      .tema-button {
        @include button;
        position: relative;
        margin: 0.57rem 0;
        padding: 0.64rem 1.71rem;
        &:active {
          background: $day-pink-pushed-button;
        }
      }
      .dropdown-button:hover ~ .tema-button:before {
        @include dotted-border;
      }
      .dropdown-themes {
        display: none;
        position: absolute;
        top: 3.7rem;
        width: 100%;
        background: $day-gray-box-background;
        box-shadow: $day-box-shadow-1-gray;
        z-index: 1;
        padding-bottom: 0.71rem;
        li {
          list-style: none;
          button {
            width: 86.5%;
            margin: 0.71rem 0 0 0.71rem;
            padding: 0.5rem 1.14rem;
            background: $day-gray-button-normal;
            border: $border;
            border-color: $day-gray-pushed-button;
            box-shadow: $day-box-shadow-1-pink;
            font-family: $font;
            font-size: 1.14rem;
            text-align: left;
          }
          .day-button {
            background: $day-palepink-button-normal;
            border: $border;
            border-color: #cca6c9;
            box-shadow: $day-box-shadow-section-intro;
          }
          .day-button::first-letter {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .mis-guifos {
    background-color: transparent;
    padding: 0 0.8rem;
    margin: 0.4rem 0;
    border: none;
    box-shadow: none;
  }
  .mis-guifos:focus {
    color: $black;
  }
}
