@mixin button {
  border: solid 0.07rem;
  background-color: #f7c9f3;
  box-shadow: inset -0.07rem -0.07rem 0 0 #997d97,
    inset 0.07rem 0.07rem 0 0 #ffffff;
}

@mixin button-blue {
  background: #4180f6;
  border: 0.07rem solid #4c2f99;
  box-shadow: inset -0.07rem -0.07rem 0 0 #284f99,
    inset 0.07rem 0.07rem 0 0 #ffffff;
  color: #ffffff;
  font-size: 1rem;
  font-family: $font;
  line-height: 1.29rem;
}

@mixin gif-container {
  display: flex;
  justify-content: space-between;
  margin: 1.36rem 10rem 0 7.14rem;
  //border: none;
  //box-shadow: none;
  //background-color: transparent;
}

@mixin dotted-border {
  border: 0.07rem dashed #000000;
  position: absolute;
  content: "";
  top: 0.14rem;
  left: 0.14rem;
  right: 0.14rem;
  bottom: 0.14rem;
}

@mixin intro-section {
  margin: 0 10rem 0 7.14rem;
  display: flex;
  background: #fffafe;
  border: 0.07rem solid #e6bbe2;
  box-shadow: inset -0.14rem -0.14rem 0 0 #e6dce4,
    inset 0.14rem 0.14rem 0 0 #80687d;
  h3 {
    padding: 0.5rem;
    align-self: center;
    font-size: 1rem;
    font-family: $font;
    color: #110038;
    font-weight: 300;
  }
}

@mixin gif-img-container {
  display: flex;
  flex-direction: column;
  border: none;
  background: #e6e6e6;
  box-shadow: inset -0.14rem -0.14rem 0 0 #b4b4b4,
    inset 0.14rem 0.14rem 0 0 #ffffff;
}

@mixin hashtag-bar {
  display: flex;
  flex-wrap: nowrap;
  background-image: linear-gradient(270deg, #f7c9f3, #4180f6);
  position: relative;
  top: -1.3rem;
  left: 0.1rem;
  margin: 0 0.2rem -1.25rem 0;
  .gif-text {
    display: inline-block;
    font-family: $font;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    max-width: 19vw;
    white-space: nowrap;
    animation: animation-textfloat 6s infinite alternate ease-in-out;
    animation-timing-function: linear;
  }
  @keyframes animation-textfloat {
    0% {
      transform: translateX(5%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
