@mixin button {
  border: solid 0.07rem;
  background-color: #f7c9f3;
  box-shadow: inset -0.07rem -0.07rem 0 0 #997d97,
    inset 0.07rem 0.07rem 0 0 #ffffff;
}

@mixin button-blue {
  background: #4180f6;
  border: 0.07rem solid #4c2f99;
  box-shadow: inset -0.07rem -0.07rem 0 0 #284f99,
    inset 0.07rem 0.07rem 0 0 #ffffff;
  color: #ffffff;
  font-size: 1rem;
  font-family: $font;
  line-height: 1.29rem;
}

@mixin gif-container {
  display: flex;
  justify-content: space-between;
  margin: 1.36rem 8.9rem 0 7.14rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

@mixin dotted-border {
  border: 0.07rem dashed #000000;
  position: absolute;
  content: "";
  top: 0.14rem;
  left: 0.14rem;
  right: 0.14rem;
  bottom: 0.14rem;
}
