@mixin progress-animation {
  :first-child {
    animation: progress 6s steps(1, end) infinite;
  }
  :nth-child(2) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 0.2s;
  }
  :nth-child(3) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 0.4s;
  }
  :nth-child(4) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 0.6s;
  }
  :nth-child(5) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 0.8s;
  }
  :nth-child(6) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 1s;
  }
  :nth-child(7) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 1.2s;
  }
  :nth-child(8) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 1.4s;
  }
  :nth-child(9) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 1.6s;
  }
  :nth-child(10) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 1.8s;
  }
  :nth-child(11) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 2s;
  }
  :nth-child(12) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 2.2s;
  }
  :nth-child(13) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 2.4s;
  }
  :nth-child(14) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 2.6s;
  }
  :nth-child(15) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 2.8s;
  }
  :nth-child(16) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 3s;
  }
  :nth-child(17) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 3.2s;
  }
  :nth-child(18) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 3.4s;
  }
  :nth-child(19) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 3.6s;
  }
  :nth-child(20) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 3.8s;
  }
  :nth-child(21) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 4s;
  }
  :nth-child(22) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 4.2s;
  }
  :nth-child(23) {
    animation: progress 6s steps(1, end) infinite;
    animation-delay: 4.4s;
  }
  @keyframes progress {
    0% {
      background-color: $day-pink-button-normal;
    }
    60% {
      background-color: $day-gray-pushed-button;
    }
    100% {
      background-color: $day-pink-button-normal;
    }
  }
}
