.template-section {
  padding: 4.57rem 0 0 0;
  .intro-section {
    @include intro-section;
  }
  .template-gif-container {
    margin: 1.36rem 10rem 0 7.43rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .template-gif {
      @include gif-img-container;
      position: relative;
      margin: 0 0 1.14rem 0;
      img {
        width: 19vw;
      }
      div {
        display: none;
      }
      img:hover {
        outline: 0.07rem dashed #000000;
        width: 18.8vw;
        padding: 0.1vw;
      }
      img:hover ~ div {
        @include hashtag-bar;
      }
    }
  }
}
